.main {
  display: flex;
  flex-direction: column;
}

.post-item.big {
  min-width: 370px;
  max-width: 370px;
  height: 560px;
}

.new-articles {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  min-width: 1170px;
  max-width: 1170px;
}

.new-articles-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 0;
  min-width: 770px;
  max-width: 770px;
}

.row.actual {
  display: flex;
  justify-content: space-between;
  min-width: 1170px;
  max-width: 1170px;

}

.main-column {
  display: flex;
  flex-direction: column;
}

.main-column {
  min-width: 770px;
  max-width: 770px;
}

.side-column {
  min-width: 270px;
  max-width: 270px;
}

.popular-posts.most {
  display: flex;
  justify-content: space-between;
  min-width: 1170px;
  max-width: 1170px;
}

.row-header {
  height: 39px;
  line-height: 39px;
  margin: 70px 0 30px 0;
  font-size: 30px;
  font-weight: bold;
}
