.footer {
  font-size: 14px;
  background-color: #171717;
}

.footer-content {
  height: 500px;
}

.footer-column {
  width: 270px;
  margin: 50px 0;
}

.footer-column:nth-child(2) {
  width: 293px;
}

.footer-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer-column .subscription-form input {
  background-color: #373737;
  border-color: transparent;
}

.footer-column .logo {
  margin-bottom: 30px;
}

.footer-column .info {
  height: 66px;
  margin-bottom: 30px;
}

.icon-bar {
  display: flex;
  justify-content: space-between;
  width: 230px;
  height: 34px;
}

.social-icon {
  width: 34px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #373737;
  border-radius: 3px;
}

.social-icon.facebook {
  background-image: url("../img/social-facebook.svg");
}

.social-icon.twitter {
  background-image: url("../img/social-twitter.svg");
}

.social-icon.unknown {
  background-image: url("../img/social-3.svg");
}

.social-icon.google {
  background-image: url("../img/social-google-plus.png");
}

.social-icon.inst {
  background-image: url("../img/social-instagram2.svg");
}

.post-item.recent {
  display: flex;
  margin-bottom: 20px;
}

.recent-picture {
  position: relative;
  min-width: 95px;
  height: 95px;
  margin-right: 20px;
}

.recent-picture::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 95px;
  height: 95px;
  border-radius: 3px;
}

.recent .header-article {
  line-height: 26px;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-secondary {
  display: flex;
  justify-content: space-between;
  height: 94px;
  padding-top: 40px;
}

.bottom-strip {
  background-color: #000;
}
