* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.main,
.footer {
    padding: 20px 200px;
    width: 100%;
}

.header,
.footer {
    height: 100px;
    color: #fff;
    background-color: #000;
}

.header {
    position: fixed;
    width: 100%;
}

.main {
    margin-top: 100px;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}