* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: lato, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.main,
.footer {
    padding: 0 200px;
    width: 100%;
}

.header,
.footer {
    height: 100px;
    color: #fff;
    background-color: #000;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    font-size: 14px;
}

.main {
    margin-top: 100px;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.logo {
    display: flex;
}

.logo-car,
.logo-premium {
    height: 20px;
    padding: 2px 4px;
}

.logo-car {
    width: 40px;
    background-color: #4A90E2;
    border-radius: 3px;
}