.pagination {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  margin-top: 50px;
}

.page {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.previous {
  background-image: url('../img/arrow-previous.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.next {
  background-image: url('../img/arrow-next.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.page {
  list-style-type: none;
}

.page a {
  text-decoration: none;
  color: #171717;
}

.page.activ,
.page.activ a {
  color: #fff;
  background-color: #000;
}
