.post-item {
  position: relative;
}

.post-item.regular {
  position: relative;
  width: 770px;
  height: 560px;
  margin-top: 50px;
  background-image: url('../img/mersedes.jpg');
  background-repeat: no-repeat;
}

.post-item.popular {
  position: relative;
  margin-bottom: 50px;
}

.post-item.small {
  position: relative;
  margin-bottom: 25px;
  width: 370px;
  height: 265px;
}

.post-item.big::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent  50%, #171717);
}

.post-article {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 730px;
  height: 249px;
  z-index: 1;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.vehicle {
  width: 66px;
  height: 22px;
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  background-color: #4A90E2;
  border-radius: 3px;
  margin-bottom: 20px;
}

.post-item.popular .vehicle {
  position: absolute;
  top: 20px;
  left: 20px;
}

.header-article {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-item.popular .header-article {
  font-size: 20px;
  margin-top: 20px;
}

.author-date {
  color: #666;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}

.article-content {
  color: #666;
  font-size: 14px;
  width: 614px;
  height: 72px;
  line-height: 24px;
}

.important-article .article-content {
  font-size: 15px;
  width: 270px;
  height: 75px;
  line-height: 25px;
}
