.side-column,
.subscription-form {
  display: flex;
  flex-direction: column;
}

.side-column {
  height: 100%;
  justify-content: flex-start;
}

.side-item {
  margin-top: 50px;
}

.side-header {
  height: 30px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
}

.instagram-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instagram-picture {
  width: 130px;
  height: 130px;
  margin-top: 10px;
}

.instagram-picture:first-child,
.instagram-picture:nth-child(2) {
  margin-top: 0;
}

.button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #232323;
  border: none;
}

button:hover {
  cursor: pointer;
}

.button a {
  text-decoration: none;
  color: #fff;
}

.instagram-icon {
  margin-right: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tag {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #171717;
  font-size: 12px;
  background-color: #b3b3b3;
  border-radius: 3px;
}

.info {
  height: 100%;
  line-height: 20px;
  font-size: 14px;
  color: #979797;
}

.subscription-form input {
  width: 270px;
  height: 50px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #AEB3BB;
}

.name::placeholder,
.email::placeholder {
  color: #AEB3BB;
}

.subscription-form .name,
.subscription-form .email {
  padding-left: 10px;
}
