.side-column,
.subscription-form {
    display: flex;
    flex-direction: column;
}

.side-column {
    height: 100%;
    justify-content: flex-start;
}

.side-item {
    margin-top: 50px;
}

.side-header {
    height: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

.inst-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inst-picture {
  width: 130px;
  height: 130px;
  margin-top: 10px;
}

.inst-picture:first-child,
.inst-picture:nth-child(2) {
  margin-top: 0;
}

.button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #232323;
  border: none;
}

button:hover {
  cursor: pointer;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tag {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #171717;
  font-size: 12px;
  background-color: #b3b3b3;
  border-radius: 3px;
}

.info {
    height: 48px;
    line-height: 20px;
    font-size: 14px;
    color: #979797;
}

.subscription-form input {
    height: 50px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #AEB3BB;
}

.name::placeholder,
.email::placeholder {
    color: #AEB3BB;
}

.subscription-form .name,
.subscription-form .email {
    padding-left: 10px;
}


